<p id="notice"><%= notice %></p>

<p>
  <strong>Zombie:</strong>
  <%= @zombie %>
</p>

<p>
  <strong>Status:</strong>
  <%= @zombie.tweets.last.status %>
</p>

<%= link_to 'Edit', edit_zombie_tweet_path(@zombie, @tweet) %> |
<%= link_to 'Back', zombie_tweets_path %>
