<p id="notice"><%= notice %></p>

<h1>Listing Zombies</h1>
<div id="zombies">
  <%= render @zombies %>
</div>
<%= form_for(Zombie.new, remote: true) do |f| %> <%# remote: true will make the calling to JS file %>
  <div class="field" >
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <br><br>
    <%= f.label :age %><br>
    <%= f.text_field :age %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br>

<%= link_to 'New Zombie', new_zombie_path %>

<%= form_tag(search_zombies_path) do |f| %>
  <div class="field">
    <%#= f.label :name %><br>
    <%#= f.text_field :name %>
  </div>
<% end %>
hello
