<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @zombie.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @zombie.bio %>
</p>

<p>
  <strong>Age:</strong>
  <%= @zombie.age %>
</p>

<p>
  <strong>Decomp:</strong>
  <%= @zombie.decomp %>
</p>

<p>
  <strong>Tweets:(<%= @zombie.tweets.count %>)</strong>
  <% @zombie.tweets.each do |tweet| %><br>
    <%= link_to tweet.status, zombie_tweet_path(@zombie, tweet.id) %> -
    <%= tweet.created_at %>
    <%= link_to 'Delete Tweet', zombie_tweet_path(@zombie, tweet.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <br>
  <%= link_to 'New Tweet', new_zombie_tweet_path(@zombie)%>
</p>
<strong>Decomposition Phase: </strong>
<span id="decomp"><%= @zombie.decomp %></span><%# value we want to update with AJAX %>
<div id="custom_phase">
  <%= form_for @zombie, url: custom_decomp_zombie_path(@zombie), remote: true do |f| %>
    <%# remote: true is required to call JavaScript code %>
    <strong>Custom Phase</strong>
      <%= f.text_field :decomp %>
      <%= f.submit "Set" %>
  <% end %>
</div>
<div id="custom_phase2">
  <%= form_for @zombie, url: custom_decomp_zombie_path(@zombie) do |f| %>
    <strong>Custom Phase2</strong>
    <%= f.text_field :decomp %>
    <%= f.submit "Set" %>
  <% end %>
</div>
<br><br>
<%= link_to 'Edit Zombie', edit_zombie_path(@zombie) %> |
<%= link_to 'Back to Zombies Index', zombies_path %> |
<%= link_to 'Get Decomposition Status', decomp_zombie_path(@zombie) %>
<br><br>


@zombie.to_json: <%= @zombie.to_json %>
<br>
@zombie.as_json: <%= @zombie.as_json %>
